<div>
  <header>
    <h2>{{resource.contacts}}</h2>
  </header>
  <div class="search-body">
    <form id="contactsForm" name="contactsForm" class="form" novalidate>
      <span class="hidden-message">{{message}}</span>
      <section class="row search-group">{% include "partials/advance-search.html" %} {% include "partials/pagination.html" %}</section>
      <section class="row search-group inline advance-search" hidden>
        <label class="col s12 m4">
          {{resource.name}}
          <input type="text" id="name" name="name" value="{{filter.name}}" maxlength="40" placeholder="{{resource.fullname}}" />
        </label>
        <label class="col s12 m4">
          {{resource.email}}
          <input type="text" id="email" name="email" value="{{filter.email}}" maxlength="100" placeholder="{{resource.email}}"/>
        </label>
      </section>
      <input type="hidden" id="page" name="page" value="{{filter.page}}" />
    </form>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th data-field="contactId">{{resource.number}}</th>
            <th data-field="name">
              <a id="usernameSort" href="{{sort.name.url}}" onclick="navigate(event)">{{resource.name}} {{sort.name.tag}}</a>
            </th>
            <th data-field="email" class="datetime">
              <a id="emailSort" href="{{sort.email.url}}" onclick="navigate(event)">{{resource.email}} {{sort.email.tag}}</a>
            </th>
            <th data-field="phone">
              <a id="phoneSort" href="{{sort.phone.url}}" onclick="navigate(event)">{{resource.phone}} {{sort.phone.tag}}</a>
            </th>
            <th data-field="company">
              <a id="companySort" href="{{sort.company.url}}" onclick="navigate(event)">{{resource.company}} {{sort.company.tag}}</a>
            </th>
            <th data-field="country">
              <a id="countrySort" href="{{sort.country.url}}" onclick="navigate(event)">{{resource.country}} {{sort.country.tag}}</a>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for item in list %}
          <tr>
            <td class="text-right">{{item.sequence}}</td>
            <td>
              <a href="/contacts/{{item.id}}" onclick="navigate(event)">{{item.name}}</a>
            </td>
            <td>{{item.email}}</td>
            <td>{{formatPhone(item.phone)}}</td>
            <td>{{item.company}}</td>
            <td>{{item.country}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
