<form id="contactForm" name="contactForm" class="form" novalidate>
  <header>
    <button type="button" id="btnBack" name="btnBack" class="btn-back" onclick="goBack()"></button>
    <h2>{{resource.contact}}</h2>
    <div class="btn-group">
      <button class="btn-group btn-right"><i class="material-icons">group</i></button>
      <button class="btn-group btn-right"><i class="material-icons">group</i></button>
    </div>
  </header>
  <div class="row">
    <label class="col s12 m6 required">
      {{resource.contact_id}}
      <input
        type="text"
        id="id"
        name="id"
        {%
        if
        editMode
        %}
        readonly
        {%
        endif
        %}
        maxlength="20"
        required
        placeholder="{{resource.id}}"
        value="{{contact.id}}"
      />
    </label>
    <label class="col s12 m6 required">
      {{resource.name}}
      <input
        type="text"
        id="name"
        name="name"
        readonly
        maxlength="40"
        required
        onblur="requiredOnBlur(event)"
        placeholder="{{resource.name}}"
        value="{{contact.name}}"
      />
    </label>
    <label class="col s12 m6 flying">
      {{resource.phone}}
      <input type="tel" id="phone" name="phone" class="form-control" maxlength="17" placeholder="{{resource.phone}}" value="{{contact.phone}}" />
    </label>
    <label class="col s12 m6 flying">
      {{resource.email}}
      <input type="text" id="email" name="email" data-type="email" maxlength="100" placeholder="{{resource.email}}" value="{{contact.email}}" />
    </label>
    <div class="col s12 m6 radio-section">
      {{resource.status}}
      <div class="radio-group">
        <label><input type="radio" id="active" name="status" value="A" {% if contact.status == "A" %} checked {% endif %}/>{{resource.active}}</label>
        <label><input type="radio" id="inactive" name="status" value="I" {% if contact.status == "I" %} checked {% endif %}/>{{resource.inactive}}</label>
      </div>
    </div>
  </div>
  <footer class="view-footer">
    <button type="submit" id="btnSave" name="btnSave" onclick="submitForm(event)" {% if readonly %} disabled {% endif %}>{{resource.save}}</button>
  </footer>
</form>
