<div>
  <header>
    <h2>{{resource.roles}}</h2>
    <div class="btn-group">
      <button type="button" id="btnListView" name="btnListView" class="btn-list" data-view="listview"></button>
      <a id="btnNew" class="btn-new" href="/roles/new"></a>
    </div>
  </header>
  <div>
    <form id="rolesForm" name="rolesForm" class="form" novalidate>
      <span class="hidden-message">{{message}}</span>
      <section class="row search-group">{% include "partials/search.html" %} {% include "partials/pagination.html" %}</section>
      <section class="row search-group inline">
        <label class="col s12 m6">
          {{resource.status}}
          <section class="checkbox-group">
            <label>
              <input type="checkbox" id="active" name="status" value="A" {% if checked(filter.status, 'A') %} checked {% endif %} />{{resource.active}}
            </label>
            <label>
              <input type="checkbox" id="inactive" name="status" value="I" {% if checked(filter.status, 'I') %} checked {% endif %}/>{{resource.inactive}}
            </label>
          </section>
        </label>
      </section>
      <input type="hidden" id="page" name="page" value="{{filter.page}}" />
      <input type="hidden" id="_message" name="_message" value="{{message}}" />
    </form>
    <form class="list-result">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th data-field="roleId">
                <a id="sortRoleId" href="{{sort.roleId.url}}">{{resource.role_id}} {{sort.roleId.tag}}</a>
              </th>
              <th data-field="roleName">
                <a id="sortRoleName" href="{{sort.roleName.url}}">{{resource.role_name}} {{sort.roleName.tag}}</a>
              </th>
              <th data-field="remark">
                <a id="sortRemark" href="{{sort.remark.url}}">{{resource.remark}} {{sort.remark.tag}}</a>
              </th>
              <th data-field="status">
                <a id="sortStatus" href="{{sort.status.url}}">{{resource.status}} {{sort.status.tag}}</a>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for item in list %}
            <tr>
              <td>
                <a href="/roles/{{item.roleId}}" onclick="navigate(event)">{{item.roleId}}</a>
              </td>
              <td>{{item.roleName}}</td>
              <td>{{item.remark}}</td>
              <td>{{item.status}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
