<form id="roleAssignmentForm" name="roleAssignmentForm" class="form">
  <header>
    <button type="button" id="btnBack" name="btnBack" class="btn-back" onclick="goBack()"></button>
    <h2>Administrator Role Assignment</h2>
  </header>
  <div>
    <section class="row section">
      <label class="col s12 m6">
        {{resource.email}}
        <input id="email" name="email" type="text" value="{{user.email}}" disabled placeholder="{{resource.email}}" />
      </label>
    </section>
    <section class="list-container">
      <ul class="row list">
        <li class="col check-item header">
          <input id="roleAssignmentForm_checkAll" type="checkbox" name="checkAll" />
          <p>Check All</p>
        </li>
        {% for item in roles %}
        <li class="col check-item">
          <input type="checkbox" id="role_{{item.value}}" name="id" value="{{item.value}}" {% if item.selected %} checked {% endif %} />
          <p>{{item.text}}</p>
        </li>
        {% endfor %}
    </section>
  </div>
  <footer>
    <button type="submit" id="btnSave" name="btnSave" onclick="assignRolesToUser(event)">{{resource.save}}</button>
  </footer>
  <script>
    console.log("Enter user assign")
    resources.load = function (pageBody) {
      console.log("Enter user assign load")
      const checkbox = document.getElementById("roleAssignmentForm_checkAll")
      if (checkbox) {
        checkbox.addEventListener("change", function () {
          checkAll(checkbox, "id")
        })
      }
    }
    function assignRolesToUser(e) {
      e.preventDefault()
      var target = e.target
      var form = target.form
      var roles = getCheckboxValues(form, "id")
      var resource = getResource()
      var msg = roles.length === 0 ? "{{resource.msg_confirm_assign_roles_to_user}}" : "{{resource.msg_confirm_save}}"
      showConfirm(msg, function () {
        showLoading()
        fetch(getCurrentURL(), {
          method: "PATCH",
          headers: getHttpHeaders(),
          body: JSON.stringify(roles),
        })
          .then(function (response) {
            hideLoading()
            if (response.ok) {
              alertSuccess(resource.msg_save_success)
            } else {
              handleJsonError(response, resource, form)
            }
          })
          .catch(function (err) {
            return handleError(err, resource.error_network)
          })
      })
    }
  </script>
</form>